@font-face {
  font-family: 'icomoon';
  src:  url('../webfonts/icomoon.eot?ndz69k');
  src:  url('../webfonts/icomoon.eot?ndz69k#iefix') format('embedded-opentype'),
    url('../webfonts/icomoon.ttf?ndz69k') format('truetype').
    url('../webfonts/icomoon.woff?ndz69k') format('woff'),
    url('../webfonts/icomoon.svg?ndz69k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-typescript:before {
  content: "\e900";
}
.icon-tailwind:before {
  content: "\e901";
}
.icon-redux:before {
  content: "\e902";
}
.icon-react:before {
  content: "\e903";
}
.icon-nodejs:before {
  content: "\e904";
}
.icon-nextjs:before {
  content: "\e905";
}
.icon-html:before {
  content: "\e906";
}
.icon-graphQL:before {
  content: "\e907";
}
.icon-github:before {
  content: "\e908";
}
.icon-git:before {
  content: "\e909";
}
.icon-js:before {
  content: "\e90a";
  color: #fff;
}
.icon-css:before {
  content: "\e90b";
}

